* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;

}

:root {
    --brg-footer: #222222;
    --color-share: #4BC800;
    --brg-link-nav: #4A4A4A;


}

.bordo {
    border: 1px solid white;

}

body {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    background-color: black;
    height: 100vh;
    min-height: 100vh;
}

.container-nav {
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-end;
   overflow: hidden;
   height: 7vh;
   
   padding-bottom: 10px;
   
}
.container-main {
    max-width: 1400px;
    margin-left: 50px;
    margin-top: 14px;
    margin-bottom: 15px;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   overflow: hidden;
   height: 15vh;
   
   
}

.container-footer {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   overflow: hidden;
   height: 6vh;

   
}

.link1-nav {
    
    border-radius: 8px;
    margin: 0.5rem;
    background-color: var(--brg-link-nav);
   
    
    
   
}

.text-nav {
    font-size: 13px;
    text-decoration: none;
    padding: 7px;
    color: white;
    
    
}

.img {
    width: 100%;
    height: 100%;
}
.card {
    width: calc(100% / 7);
    margin: 2px;
    position: relative;
}
.absolute {

        position: absolute;
        bottom: 2px;
        left: 2px;
        background-color: black;
        opacity: 0.5;
        
      
}